@use 'colors';
.item-sheet {
  .profile-img {
    flex: 0 0 64px;
  }

  h2 {
    flex: 0;
    margin-top: 15px;
  }

  .sheet-header {
    flex: 0;
  }

  .sheet-body {
    padding: 0px 10px;
  }

  min-width: 400px;
  input:focus {
    outline: none;
    outline-style: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  input {
    border: 0;
  }
  select {
    border: 0;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.05);
  }
  select:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  select:focus {
    outline: none;
    outline-style: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .header-flex {
    display: flex;
    align-items: center;
    background: url('../assets/sheet/header-background-pattern-overlay.png') repeat
      colors.$sheet-header-color;
    background-repeat: repeat;
    box-shadow: inset 0 -7px 9px -7px rgba(0, 0, 0, 0.5);
    padding: 10px;

    > h1 {
      text-align: right;
      color: white;
      font-family: 'Amethysta';
      margin: 0px;
      font-size: 2.5em;
      flex: 1;
    }
    h1 {
      flex: 1;
      input {
        width: 100%;
        margin: 0px;
        color: white;
        border: 0;
        border-bottom: solid white 1px;
        border-radius: 0;
        font-family: 'Fanwood';
        background-color: rgba(0, 0, 0, 0);
        text-shadow: 0px 0px 6px black;
      }

      input:focus {
        background-color: rgba(255, 255, 255, 0.05);
      }

      input:hover {
        background-color: rgba(255, 255, 255, 0.05);
      }
    }
  }

  .desc {
    height: 100%;
    margin-bottom: 0px;
    .editor {
      div.tox.tox-tinymce {
        height: 100% !important;
      }
      height: 100%;
    }
  }

  .profile-img {
    border-radius: 0;
    width: 64px;
    height: 64px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 0;
    box-shadow: 0px 0px 6px 2px rgba(53, 40, 40, 0.4);
    margin-right: 10px;
  }
}
